#Container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto auto;
  border: 2px solid black;
  background-color: #f0f2f5;
}

#Container #SearchBarContainer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  /* Same as the Asset */
  margin: 8px;
}

#Container #SearchBarContainer input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 5px;
}

/* Filters  */
#Container .Selector {
  grid-row-start: 2;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

/* Asset grid */
#Container #AssetContainer {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
